.label {
  display: flex;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
}
.checkbox {
  margin: 0.44em 0.2em;
}
.title {
  display: inline-block;
  word-break: break-all;
  padding: 0.18em;
}
.button {
  flex-shrink: 0;
}
